<div class='chatcontainer' style="margin-top : 400px" id = "chatDiv">    
  <h1 style="font-family:Raleway; margin-bottom: 30px;">Chat</h1>
  <div class='chatbox'>
    <div class='chatbox__user-list' id='chat_user_list'>
      <h1>User list</h1>      
    </div>
    <div class="chatbox__messages">
      <div class="chatbox__messages__user-message">
        <div class="chatbox__messages__user-message--ind-message">
          <p class="name">Yatri.com</p>
          <br/>
          <p class="message">Hello everyone, use this space to connect with your co-passengers!</p>
        </div>
      </div>
    </div>
    <form id = "enterMessage">
      <input type="text" name = "message" placeholder="Enter your message" style="width:65%" />      
      <input type = "submit" name="submit" value = "Send" />
    </form>
  </div>
</div>