<div id="header-wrapper">

  <div id="header" class="container">
   <div id="logo">
     <h1><a href="#">Yatri</a></h1>
   </div>

   <div id="menu">
     <ul>
       <li class="active"><a class="button" id="flashBtn" href="#">Use Sample data only</a>
</li>
     </ul>
   </div>
   
 </div>
</div>