<div id="header-wrapper">

  <div id="header" class="container">
   <div id="logo">
     <h1><a href="#">Yatri</a></h1>
   </div>

   <div id="menu">
     <ul>
       <li class="active"><a href="#">Home</a></li>
       <li><a href="#chatDiv">Chat</a></li>
       <li><a href="#checkinDiv">Check-In</a></li>
       <li><a href="#">Login</a></li>
     </ul>
   </div>
   
 </div>
</div>