<!-- 4 static cards -->
     <div class="col-sm-9" >   
        <div class="col-sm-3">
            <div id="viewport">        
                <ul class="stack">
                    <li>
                        <div class = "trending">
                            <p class = "input_title">Flying from</p>
                            <i class="fa fa-plane fa-lg"></i>
                            <p class = "input_action"><a href = "#" onclick="airportPicker(this,'departure')" >Set Departure</a></p>
                        </div>
                    </li>            
                </ul>
            </div>    
        </div>

        <div class="col-sm-3">
            <div id="viewport">        
                <ul class="stack">
                    <li >
                        <div class = "trending" id="set_arrival">
                            <p class = "input_title">Flying to</p>
                            <i class="fa fa-home fa-lg"></i>
                            <p class = "input_action"><a href = "#" onclick="airportPicker(this,'arrival')">Set Arrival</a></p>
                        </div>
                    </li>            
                </ul>
            </div>    
        </div>

        <div class="col-sm-3">
            <div id="viewport">        
                <ul class="stack">
                    <li>
                        <div class = "trending">
                            <p class = "input_title">Flying dates</p>
                            <i class="fa fa-calendar fa-lg"></i>
                            <p class = "input_action"><a href = "#" onclick="datePicker(this)">Set Dates</a></p>
                        </div>
                    </li>            
                </ul>
            </div>    
        </div>

        <div class="col-sm-3">
            <div id="viewport">        
                <ul class="stack">
                    <li>
                        <div class = "trending">
                            <p class = "input_title">Filters</p>
                            <i class="fa fa-filter fa-lg"></i>
                            <p class = "input_action"><a href = "#" onclick='filterPicker(this)'>Set Filters</a></p>
                        </div>
                    </li>            
                </ul>
            </div>    
        </div>
    </div>  
<!-- 4 static ends -->